/* Styling navbar */
nav {
    width: 100%;
    background: linear-gradient(to bottom, #365486, #7fc7d9); /* Gradasi biru */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Container agar navbar lebih rapi */
.container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Styling untuk logo */
nav a.text-white {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/* Styling menu navbar */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

/* Styling link menu */
nav ul li a {
    font-size: 21px;
    color: white;
    text-decoration: none;
    font-weight: 1000;
    transition: 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #d1e8ff;
}
.two-line-text {
    font-size: 12px;
    margin-top: -2px;
    white-space: pre-line;
    max-width: 120px; /* Sesuaikan dengan lebar yang diinginkan */
    text-align: left;
}

/* Responsif: Jika layar kecil, ubah tata letak */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
